@* @{
    ViewData["Title"] = "About Us";
} *@
<h1>@ViewData["Title"]</h1>


<div></div>




<div class="container">
  <div class="row mt-1">
    <div class="col-lg-4 col-md-4 col-sm-12 ">
     <img width="350" height="450" src="/images/flyer.png" alt="About"> 
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 ">
      
          <p style="font-size: larger">Due to the current situation in Lebanon, many Lebanese individuals are having difficulty receiving their medications, resulting in an increase in deaths and hospitalized cases that are merely treated. There are also many Lebanese persons living overseas who want to help their people in Lebanon by supplying vital medications. However, communication between those from outside Lebanon who are planning on visiting Lebanon and Lebanese citizens who require pharmaceuticals that are currently unavailable is limited. We intend to connect these people as part of our project so that their needs can be met. Our website provides a solution to this problem by allowing Lebanese individuals to ask about any medication they need that is not currently available in Lebanon.</p>
    </div>
      
    </div>

</div>